<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sistemaControleVendas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>       
    <connectionStrings>
        <add name="sistemaControleVendas.Properties.Settings.DbControleVendaConnectionString"
            connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=DbControleVenda;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sistemaControleVendas.Properties.Settings.Aprendendo_ensinando_ProgramaçãoConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=Aprendendo_ensinando_Programação;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="sistemaControleVendas.Properties.Settings.dbControleVendaConnectionString1"
            connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=dbControleVenda;User ID=sa;Password=last1965"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <sistemaControleVendas.Properties.Settings>
            <setting name="Disco" serializeAs="String">
                <value />
            </setting>
            <setting name="TempoPrazo" serializeAs="String">
                <value />
            </setting>
            <setting name="TempoFechamento" serializeAs="String">
                <value />
            </setting>
        </sistemaControleVendas.Properties.Settings>
    </userSettings>
</configuration>